.headerWrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: LiteCraft;
  src: url('../../font/litecraft.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: LiteCraft;
}